SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION fnGetCharHP(@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentHP INT
	SET @currentHP = (SELECT CharHP FROM Characters WHERE (CharID = @CharID))
	RETURN @currentHP
END
