USE [master]
GO
/****** Object:  Database [BD_IdleGame]    Script Date: 2019-12-06 20:52:03 ******/
CREATE DATABASE [BD_IdleGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdleGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IdleGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdleGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IdleGame_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_IdleGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_IdleGame]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCheckForQuestCompleted]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnCheckForQuestCompleted](@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @questCompleted BIT
	DECLARE @monsterLeftInDungeon INT
	SET @monsterLeftInDungeon = (SELECT COUNT(FightID) FROM (SELECT FightID FROM Fights WHERE (FightCharID = @CharID)) t)

	--If theres no more monster to fight in the current dungeon
	IF (@monsterLeftInDungeon = 0)
	BEGIN
		SET @questCompleted = 1
	END
	--If theres still monsters to fight in the current dungeon
	ELSE
	BEGIN
		SET @questCompleted = 0
	END

	RETURN @questCompleted
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnCheckIfPlayerCanBuy]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnCheckIfPlayerCanBuy]
(
	@charID int,
	@equipID int
)
RETURNS INT
AS
BEGIN
	DECLARE @playerGold INT
	DECLARE @lowestEquipValue INT
	DECLARE @playerWeight INT
	DECLARE @equipWeight INT
	DECLARE @canBuy INT

	SET @equipWeight = (SELECT EquipWeight FROM Equipements WHERE(@equipID = EquipID))
	SET @playerWeight = (SELECT dbo.fnGetCharWeight(@charID))

	SET @playerGold = (SELECT dbo.fnGetCharGoldPiece(@charID)) 
	SET @lowestEquipValue = (SELECT TOP 1 EquipValue FROM Equipements ORDER BY EquipValue ASC)
	
	IF (@playerGold >= @lowestEquipValue AND ((@equipWeight + @playerWeight) < 100))
	BEGIN
		SET @canBuy = 1
	END
	ELSE
	BEGIN
		SET @canBuy = 0
	END
		
	RETURN @canBuy
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharGoldPiece]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCharGoldPiece](@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentGP INT
	SET @currentGP = (SELECT CharGP FROM Characters WHERE (CharID = @CharID))
	RETURN @currentGP
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharHP]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCharHP](@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentHP INT
	SET @currentHP = (SELECT CharHP FROM Characters WHERE (CharID = @CharID))
	RETURN @currentHP
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharMaxHP]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCharMaxHP](@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @maxHP INT
	SET @maxHP = (SELECT CharMaxHP FROM Characters WHERE (CharID = @CharID))
	RETURN @maxHP
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharWeight]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetCharWeight](@charID INT)
RETURNS INT
AS
BEGIN
	RETURN (SELECT CharWeight FROM Characters WHERE(CharID = @charID))
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCurrentMonsterHPFromID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCurrentMonsterHPFromID](@fightID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentHP INT
	SET @currentHP = (SELECT FightMonsterHP FROM Fights WHERE (FightID = @fightID))
	RETURN @currentHP
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCurrentQuest]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCurrentQuest](@CharID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentQuest INT
	SET @currentQuest = (SELECT Quests.QuestID FROM Quests INNER JOIN (Characters INNER JOIN QuestJournal ON Characters.CharID = QuestJournal.QuestJournalCharacterID) ON QuestID = QuestJournal.QuestJournalQuestID WHERE (QuestJournal.QuestJournalCompletion = 0 AND CharID = @CharID))
	RETURN @currentQuest
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNewQuest]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetNewQuest](@CharID INT, @CharLvl INT)
RETURNS INT
AS
BEGIN
	DECLARE @newQuest INT
	--TODO Also Check the level of the player
	SET @newQuest = (SELECT TOP 1 QuestID FROM Quests WHERE QuestID NOT IN (SELECT QuestID FROM Quests INNER JOIN QuestJournal ON QuestJournalQuestID = QuestID WHERE (QuestJournalCharacterID = @CharID AND QuestJournalCompletion = 1)))
	RETURN @newQuest
END
GO
/****** Object:  Table [dbo].[Loots]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loots](
	[LootID] [int] IDENTITY(1,1) NOT NULL,
	[LootName] [nvarchar](50) NULL,
	[LootValue] [int] NULL,
	[LootWeight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LootID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharLoot](
	[CharLootID] [int] IDENTITY(1,1) NOT NULL,
	[CharLootCharacterID] [int] NULL,
	[CharLootLootID] [int] NULL,
	[CharLootQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CharLootID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharInventory]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetCharInventory]
(
	@charID INT
)
RETURNS TABLE
AS
RETURN SELECT LootName, CharLootQty, LootValue FROM CharLoot INNER JOIN Loots ON LootID = CharLootLootID WHERE (@charID = CharLootCharacterID)
GO
/****** Object:  Table [dbo].[Quests]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quests](
	[QuestID] [int] IDENTITY(1,1) NOT NULL,
	[QuestName] [nvarchar](50) NULL,
	[QuestReward] [int] NOT NULL,
	[QuestRewardQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestJournal]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestJournal](
	[QuestJournalID] [int] IDENTITY(1,1) NOT NULL,
	[QuestJournalCharacterID] [int] NOT NULL,
	[QuestJournalQuestID] [int] NOT NULL,
	[QuestJournalCompletion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestJournalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllCharQuestsFromID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllCharQuestsFromID](@CharID INT)
RETURNS TABLE
AS
RETURN SELECT QuestName, QuestJournalCompletion FROM Quests INNER JOIN QuestJournal ON QuestID = QuestJournalQuestID WHERE (QuestJournalCharacterID = @CharID)
GO
/****** Object:  Table [dbo].[Dungeons]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dungeons](
	[DungeonID] [int] IDENTITY(1,1) NOT NULL,
	[DungeonName] [nvarchar](50) NULL,
	[DungeonLevel] [int] NOT NULL,
	[DungeonQuestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DungeonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewAllDungeons]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewAllDungeons]
AS

SELECT * FROM Dungeons
GO
/****** Object:  View [dbo].[viewAllLoots]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewAllLoots] AS SELECT * FROM Loots
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[CharID] [int] IDENTITY(1,1) NOT NULL,
	[CharRaceID] [int] NOT NULL,
	[CharClassID] [int] NOT NULL,
	[CharName] [nvarchar](50) NULL,
	[CharLevel] [int] NOT NULL,
	[CharExp] [int] NOT NULL,
	[CharGP] [int] NOT NULL,
	[CharQuestProgression] [int] NOT NULL,
	[CharHP] [int] NOT NULL,
	[CharMaxHP] [int] NOT NULL,
	[CharStr] [int] NOT NULL,
	[CharCon] [int] NOT NULL,
	[CharDex] [int] NOT NULL,
	[CharHead] [bit] NOT NULL,
	[CharBoots] [bit] NOT NULL,
	[CharGloves] [bit] NOT NULL,
	[CharWeap] [bit] NOT NULL,
	[CharStatus] [nvarchar](50) NULL,
	[CharWeight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CharID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[RaceID] [int] IDENTITY(1,1) NOT NULL,
	[RaceName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewFillCharacterCombo]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewFillCharacterCombo]
AS
SELECT Characters.CharID as ID, Characters.CharName as Name, Characters.CharLevel as Level, Classes.ClassName as Class, Races.RaceName as Race
FROM ((Characters
INNER JOIN Classes ON Characters.CharClassID = Classes.ClassID)
INNER JOIN Races ON Characters.CharRaceID = races.RaceID)
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[MonsterID] [int] IDENTITY(1,1) NOT NULL,
	[MonsterName] [nvarchar](50) NOT NULL,
	[MonsterLevel] [int] NOT NULL,
	[MonsterHP] [int] NOT NULL,
	[MonsterDmg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonsterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonsterBundle]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonsterBundle](
	[MonsterBundleID] [int] IDENTITY(1,1) NOT NULL,
	[MonsterBundleMonsterID] [int] NOT NULL,
	[MonsterBundleDungeonID] [int] NOT NULL,
	[MonsterQty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonsterBundleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewExistingBundles]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[viewExistingBundles]
AS
SELECT MonsterBundleID, DungeonName,  MonsterName, MonsterQty FROM 
((MonsterBundle INNER JOIN Dungeons ON MonsterBundleDungeonID = DungeonID)
INNER JOIN Monsters ON MonsterBundleMonsterID = MonsterID)
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DONE ADDING FOREIGN KEY CONSTRAINT

--ADDING PROCEDURES
CREATE FUNCTION [dbo].[fnGetAllLoot]() RETURNS TABLE
AS
RETURN SELECT * FROM Loots
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetCharFromID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetCharFromID]
(@id INTEGER) 
RETURNS TABLE
AS
RETURN SELECT * FROM Characters WHERE CharID = @id
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetLootFromID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetLootFromID]
(@id INTEGER) 
RETURNS TABLE
AS
RETURN SELECT * FROM Loots WHERE LootID = @id
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllCharacters]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllCharacters]()
	RETURNS TABLE
AS
	RETURN 
		SELECT DISTINCT CharID AS ID, 
		CharName AS Name, 
		CharRaceID AS Race, 
		CharClassID AS Class, 
		CharLevel AS Level,
		CharGP AS Gold,
		CharHP AS HP,
		CharMaxHP AS MaxHP,
		CharStr AS Str,
		CharCon AS Cons,
		CharDex AS Dex
		FROM Characters
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllClasses]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllClasses] ()
	RETURNS TABLE
AS
	RETURN 
		SELECT DISTINCT Classes.ClassID AS ID, Classes.ClassName AS Name FROM Classes
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllMonsters]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllMonsters] ()
	RETURNS TABLE
AS
	RETURN 
		SELECT DISTINCT Monsters.MonsterID as ID, Monsters.MonsterLevel as Level, Monsters.MonsterName as Name, Monsters.MonsterHP as HP, Monsters.MonsterDmg as Dmg FROM Monsters
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllRaces]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllRaces] ()
	RETURNS TABLE
AS
	RETURN 
		SELECT DISTINCT Races.RaceID AS ID, Races.RaceName AS Name FROM Races
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetBundleFromDunID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetBundleFromDunID]
(@id INTEGER) 
RETURNS TABLE
AS
RETURN SELECT * FROM MonsterBundle WHERE MonsterBundle.MonsterBundleDungeonID = @id
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllDungeons]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllDungeons] ()
RETURNS TABLE
AS
RETURN SELECT * FROM Dungeons
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllQuests]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllQuests]() RETURNS TABLE
AS
RETURN SELECT * FROM Quests;
GO
/****** Object:  Table [dbo].[CharConsum]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharConsum](
	[CharConsumID] [int] IDENTITY(1,1) NOT NULL,
	[CharConsumCharacterID] [int] NULL,
	[CharConsumConsumID] [int] NULL,
	[CharConsumQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CharConsumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharEquip]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharEquip](
	[CharEquipID] [int] IDENTITY(1,1) NOT NULL,
	[CharEquipCharacterID] [int] NULL,
	[CharEquipEquipID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CharEquipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharSpells]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharSpells](
	[CharSpellsID] [int] IDENTITY(1,1) NOT NULL,
	[CharSpellsCharacterID] [int] NULL,
	[CharSpellsSpellID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CharSpellsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consummables]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consummables](
	[ConsumID] [int] IDENTITY(1,1) NOT NULL,
	[ConsumConsumTypeID] [int] NULL,
	[ConsumName] [nvarchar](50) NULL,
	[ConsumRestore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumType]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumType](
	[ConsumTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ConsumTypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsumTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipements]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipements](
	[EquipID] [int] IDENTITY(1,1) NOT NULL,
	[EquipEquipTypeID] [int] NULL,
	[EquipName] [nvarchar](50) NULL,
	[EquipValue] [int] NULL,
	[EquipWeight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipType]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipType](
	[EquipTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EquipTypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fights]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fights](
	[FightID] [int] IDENTITY(1,1) NOT NULL,
	[FightMonsterID] [int] NOT NULL,
	[FightCharID] [int] NOT NULL,
	[FightMonsterHP] [int] NOT NULL,
	[FightMonsterMaxHP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kills]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kills](
	[KillsID] [int] IDENTITY(1,1) NOT NULL,
	[KillsCharacterID] [int] NOT NULL,
	[KillsDungeonID] [int] NOT NULL,
	[KillsMonsterID] [int] NOT NULL,
	[KillsQty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KillsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spells](
	[SpellsID] [int] IDENTITY(1,1) NOT NULL,
	[SpellMana] [int] NULL,
	[SpellName] [nvarchar](50) NULL,
	[SpellDamage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SpellsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([CharID], [CharRaceID], [CharClassID], [CharName], [CharLevel], [CharExp], [CharGP], [CharQuestProgression], [CharHP], [CharMaxHP], [CharStr], [CharCon], [CharDex], [CharHead], [CharBoots], [CharGloves], [CharWeap], [CharStatus], [CharWeight]) VALUES (1, 1, 1, N'Marc', 1, 0, 50, 0, 80, 100, 13, 3, 1, 1, 0, 1, 0, N'Coup', 34)
INSERT [dbo].[Characters] ([CharID], [CharRaceID], [CharClassID], [CharName], [CharLevel], [CharExp], [CharGP], [CharQuestProgression], [CharHP], [CharMaxHP], [CharStr], [CharCon], [CharDex], [CharHead], [CharBoots], [CharGloves], [CharWeap], [CharStatus], [CharWeight]) VALUES (2, 2, 2, N'random', 1, 0, 0, 0, 50, 50, 50, 50, 50, 0, 0, 0, 0, NULL, 28)
SET IDENTITY_INSERT [dbo].[Characters] OFF
SET IDENTITY_INSERT [dbo].[CharEquip] ON 

INSERT [dbo].[CharEquip] ([CharEquipID], [CharEquipCharacterID], [CharEquipEquipID]) VALUES (1, 1, 2)
INSERT [dbo].[CharEquip] ([CharEquipID], [CharEquipCharacterID], [CharEquipEquipID]) VALUES (2, 1, 1)
SET IDENTITY_INSERT [dbo].[CharEquip] OFF
SET IDENTITY_INSERT [dbo].[CharLoot] ON 

INSERT [dbo].[CharLoot] ([CharLootID], [CharLootCharacterID], [CharLootLootID], [CharLootQty]) VALUES (103, 1, 2, 11)
INSERT [dbo].[CharLoot] ([CharLootID], [CharLootCharacterID], [CharLootLootID], [CharLootQty]) VALUES (104, 1, 1, 23)
SET IDENTITY_INSERT [dbo].[CharLoot] OFF
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (1, N'Guerrier')
INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (2, N'Archer')
INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (3, N'Mage')
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[Consummables] ON 

INSERT [dbo].[Consummables] ([ConsumID], [ConsumConsumTypeID], [ConsumName], [ConsumRestore]) VALUES (1, 1, N'Petite potion de Regain  de sant?', 25)
INSERT [dbo].[Consummables] ([ConsumID], [ConsumConsumTypeID], [ConsumName], [ConsumRestore]) VALUES (2, 1, N'Potion de Regain  de sant?', 25)
INSERT [dbo].[Consummables] ([ConsumID], [ConsumConsumTypeID], [ConsumName], [ConsumRestore]) VALUES (3, 2, N'Potion de restauration de sant?', 50)
SET IDENTITY_INSERT [dbo].[Consummables] OFF
SET IDENTITY_INSERT [dbo].[ConsumType] ON 

INSERT [dbo].[ConsumType] ([ConsumTypeID], [ConsumTypeName]) VALUES (1, N'Potion de soin')
INSERT [dbo].[ConsumType] ([ConsumTypeID], [ConsumTypeName]) VALUES (2, N'Potion de mana')
INSERT [dbo].[ConsumType] ([ConsumTypeID], [ConsumTypeName]) VALUES (3, N'Potion de force')
SET IDENTITY_INSERT [dbo].[ConsumType] OFF
SET IDENTITY_INSERT [dbo].[Dungeons] ON 

INSERT [dbo].[Dungeons] ([DungeonID], [DungeonName], [DungeonLevel], [DungeonQuestID]) VALUES (1, N'le Donjon du Corbeau Conquis', 1, 1)
INSERT [dbo].[Dungeons] ([DungeonID], [DungeonName], [DungeonLevel], [DungeonQuestID]) VALUES (2, N'les Cavernes du Moine d''Ombre', 2, 2)
INSERT [dbo].[Dungeons] ([DungeonID], [DungeonName], [DungeonLevel], [DungeonQuestID]) VALUES (3, N'les Catacombes du Sorcier Infernal', 3, 3)
SET IDENTITY_INSERT [dbo].[Dungeons] OFF
SET IDENTITY_INSERT [dbo].[Equipements] ON 

INSERT [dbo].[Equipements] ([EquipID], [EquipEquipTypeID], [EquipName], [EquipValue], [EquipWeight]) VALUES (1, 1, N'Casque en fer', 15, 5)
INSERT [dbo].[Equipements] ([EquipID], [EquipEquipTypeID], [EquipName], [EquipValue], [EquipWeight]) VALUES (2, 2, N'Gant en fer', 10, 3)
INSERT [dbo].[Equipements] ([EquipID], [EquipEquipTypeID], [EquipName], [EquipValue], [EquipWeight]) VALUES (3, 3, N'Bottes en fer', 15, 5)
SET IDENTITY_INSERT [dbo].[Equipements] OFF
SET IDENTITY_INSERT [dbo].[EquipType] ON 

INSERT [dbo].[EquipType] ([EquipTypeID], [EquipTypeName]) VALUES (1, N'Casque')
INSERT [dbo].[EquipType] ([EquipTypeID], [EquipTypeName]) VALUES (2, N'Gants')
INSERT [dbo].[EquipType] ([EquipTypeID], [EquipTypeName]) VALUES (3, N'Bottes')
SET IDENTITY_INSERT [dbo].[EquipType] OFF
SET IDENTITY_INSERT [dbo].[Fights] ON 

INSERT [dbo].[Fights] ([FightID], [FightMonsterID], [FightCharID], [FightMonsterHP], [FightMonsterMaxHP]) VALUES (167, 1, 1, 50, 50)
INSERT [dbo].[Fights] ([FightID], [FightMonsterID], [FightCharID], [FightMonsterHP], [FightMonsterMaxHP]) VALUES (168, 1, 1, 50, 50)
INSERT [dbo].[Fights] ([FightID], [FightMonsterID], [FightCharID], [FightMonsterHP], [FightMonsterMaxHP]) VALUES (169, 1, 1, 50, 50)
SET IDENTITY_INSERT [dbo].[Fights] OFF
SET IDENTITY_INSERT [dbo].[Loots] ON 

INSERT [dbo].[Loots] ([LootID], [LootName], [LootValue], [LootWeight]) VALUES (1, N'Roche', 5, 5)
INSERT [dbo].[Loots] ([LootID], [LootName], [LootValue], [LootWeight]) VALUES (2, N'Diamants', 15, 2)
SET IDENTITY_INSERT [dbo].[Loots] OFF
SET IDENTITY_INSERT [dbo].[MonsterBundle] ON 

INSERT [dbo].[MonsterBundle] ([MonsterBundleID], [MonsterBundleMonsterID], [MonsterBundleDungeonID], [MonsterQty]) VALUES (1, 3, 1, 10)
INSERT [dbo].[MonsterBundle] ([MonsterBundleID], [MonsterBundleMonsterID], [MonsterBundleDungeonID], [MonsterQty]) VALUES (2, 1, 1, 5)
INSERT [dbo].[MonsterBundle] ([MonsterBundleID], [MonsterBundleMonsterID], [MonsterBundleDungeonID], [MonsterQty]) VALUES (3, 1, 2, 10)
SET IDENTITY_INSERT [dbo].[MonsterBundle] OFF
SET IDENTITY_INSERT [dbo].[Monsters] ON 

INSERT [dbo].[Monsters] ([MonsterID], [MonsterName], [MonsterLevel], [MonsterHP], [MonsterDmg]) VALUES (1, N'Chaurus', 12, 50, 10)
INSERT [dbo].[Monsters] ([MonsterID], [MonsterName], [MonsterLevel], [MonsterHP], [MonsterDmg]) VALUES (2, N'Dragon de Glace', 10, 250, 30)
INSERT [dbo].[Monsters] ([MonsterID], [MonsterName], [MonsterLevel], [MonsterHP], [MonsterDmg]) VALUES (3, N'Falmer', 9, 35, 10)
SET IDENTITY_INSERT [dbo].[Monsters] OFF
SET IDENTITY_INSERT [dbo].[QuestJournal] ON 

INSERT [dbo].[QuestJournal] ([QuestJournalID], [QuestJournalCharacterID], [QuestJournalQuestID], [QuestJournalCompletion]) VALUES (45, 1, 4, 1)
INSERT [dbo].[QuestJournal] ([QuestJournalID], [QuestJournalCharacterID], [QuestJournalQuestID], [QuestJournalCompletion]) VALUES (46, 1, 2, 0)
SET IDENTITY_INSERT [dbo].[QuestJournal] OFF
SET IDENTITY_INSERT [dbo].[Quests] ON 

INSERT [dbo].[Quests] ([QuestID], [QuestName], [QuestReward], [QuestRewardQty]) VALUES (1, N'Quete#1', 2, 10)
INSERT [dbo].[Quests] ([QuestID], [QuestName], [QuestReward], [QuestRewardQty]) VALUES (2, N'Quete#2', 2, 20)
INSERT [dbo].[Quests] ([QuestID], [QuestName], [QuestReward], [QuestRewardQty]) VALUES (3, N'Quete#3', 2, 30)
SET IDENTITY_INSERT [dbo].[Quests] OFF
SET IDENTITY_INSERT [dbo].[Races] ON 

INSERT [dbo].[Races] ([RaceID], [RaceName]) VALUES (1, N'Elfe des Montagnes')
INSERT [dbo].[Races] ([RaceID], [RaceName]) VALUES (2, N'Argonien')
INSERT [dbo].[Races] ([RaceID], [RaceName]) VALUES (3, N'Elfe des For?ts')
SET IDENTITY_INSERT [dbo].[Races] OFF
SET IDENTITY_INSERT [dbo].[Spells] ON 

INSERT [dbo].[Spells] ([SpellsID], [SpellMana], [SpellName], [SpellDamage]) VALUES (1, 10, N'Flammes', 25)
INSERT [dbo].[Spells] ([SpellsID], [SpellMana], [SpellName], [SpellDamage]) VALUES (2, 10, N'Froid mordant', 25)
INSERT [dbo].[Spells] ([SpellsID], [SpellMana], [SpellName], [SpellDamage]) VALUES (3, 20, N'?clair enflamm?', 50)
SET IDENTITY_INSERT [dbo].[Spells] OFF
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_Class] FOREIGN KEY([CharClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_Class]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_Race] FOREIGN KEY([CharRaceID])
REFERENCES [dbo].[Races] ([RaceID])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_Race]
GO
ALTER TABLE [dbo].[CharConsum]  WITH CHECK ADD  CONSTRAINT [FK_CharConsum_Characters] FOREIGN KEY([CharConsumCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[CharConsum] CHECK CONSTRAINT [FK_CharConsum_Characters]
GO
ALTER TABLE [dbo].[CharConsum]  WITH CHECK ADD  CONSTRAINT [FK_CharConsum_Consum] FOREIGN KEY([CharConsumConsumID])
REFERENCES [dbo].[Consummables] ([ConsumID])
GO
ALTER TABLE [dbo].[CharConsum] CHECK CONSTRAINT [FK_CharConsum_Consum]
GO
ALTER TABLE [dbo].[CharEquip]  WITH CHECK ADD  CONSTRAINT [FK_CharEquip_Characters] FOREIGN KEY([CharEquipCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[CharEquip] CHECK CONSTRAINT [FK_CharEquip_Characters]
GO
ALTER TABLE [dbo].[CharEquip]  WITH CHECK ADD  CONSTRAINT [FK_CharEquip_Equip] FOREIGN KEY([CharEquipEquipID])
REFERENCES [dbo].[Equipements] ([EquipID])
GO
ALTER TABLE [dbo].[CharEquip] CHECK CONSTRAINT [FK_CharEquip_Equip]
GO
ALTER TABLE [dbo].[CharLoot]  WITH CHECK ADD  CONSTRAINT [FK_CharLoot_Characters] FOREIGN KEY([CharLootCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[CharLoot] CHECK CONSTRAINT [FK_CharLoot_Characters]
GO
ALTER TABLE [dbo].[CharLoot]  WITH CHECK ADD  CONSTRAINT [FK_CharLoot_Loot] FOREIGN KEY([CharLootLootID])
REFERENCES [dbo].[Loots] ([LootID])
GO
ALTER TABLE [dbo].[CharLoot] CHECK CONSTRAINT [FK_CharLoot_Loot]
GO
ALTER TABLE [dbo].[CharSpells]  WITH CHECK ADD  CONSTRAINT [FK_CharSpells_Characters] FOREIGN KEY([CharSpellsCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[CharSpells] CHECK CONSTRAINT [FK_CharSpells_Characters]
GO
ALTER TABLE [dbo].[CharSpells]  WITH CHECK ADD  CONSTRAINT [FK_CharSpells_Spells] FOREIGN KEY([CharSpellsSpellID])
REFERENCES [dbo].[Spells] ([SpellsID])
GO
ALTER TABLE [dbo].[CharSpells] CHECK CONSTRAINT [FK_CharSpells_Spells]
GO
ALTER TABLE [dbo].[Consummables]  WITH CHECK ADD  CONSTRAINT [FK_Consum_ConsumType] FOREIGN KEY([ConsumConsumTypeID])
REFERENCES [dbo].[ConsumType] ([ConsumTypeID])
GO
ALTER TABLE [dbo].[Consummables] CHECK CONSTRAINT [FK_Consum_ConsumType]
GO
ALTER TABLE [dbo].[Dungeons]  WITH CHECK ADD  CONSTRAINT [FK_Dungeons_Quests] FOREIGN KEY([DungeonQuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[Dungeons] CHECK CONSTRAINT [FK_Dungeons_Quests]
GO
ALTER TABLE [dbo].[Equipements]  WITH CHECK ADD  CONSTRAINT [FK_Equip_EquipType] FOREIGN KEY([EquipEquipTypeID])
REFERENCES [dbo].[EquipType] ([EquipTypeID])
GO
ALTER TABLE [dbo].[Equipements] CHECK CONSTRAINT [FK_Equip_EquipType]
GO
ALTER TABLE [dbo].[Kills]  WITH CHECK ADD  CONSTRAINT [FK_Kills_Characters] FOREIGN KEY([KillsCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[Kills] CHECK CONSTRAINT [FK_Kills_Characters]
GO
ALTER TABLE [dbo].[Kills]  WITH CHECK ADD  CONSTRAINT [FK_Kills_Dungeons] FOREIGN KEY([KillsDungeonID])
REFERENCES [dbo].[Dungeons] ([DungeonID])
GO
ALTER TABLE [dbo].[Kills] CHECK CONSTRAINT [FK_Kills_Dungeons]
GO
ALTER TABLE [dbo].[Kills]  WITH CHECK ADD  CONSTRAINT [FK_Kills_Monsters] FOREIGN KEY([KillsMonsterID])
REFERENCES [dbo].[Monsters] ([MonsterID])
GO
ALTER TABLE [dbo].[Kills] CHECK CONSTRAINT [FK_Kills_Monsters]
GO
ALTER TABLE [dbo].[MonsterBundle]  WITH CHECK ADD  CONSTRAINT [FK_MonsterBundle_Dungeons] FOREIGN KEY([MonsterBundleDungeonID])
REFERENCES [dbo].[Dungeons] ([DungeonID])
GO
ALTER TABLE [dbo].[MonsterBundle] CHECK CONSTRAINT [FK_MonsterBundle_Dungeons]
GO
ALTER TABLE [dbo].[MonsterBundle]  WITH CHECK ADD  CONSTRAINT [FK_MonsterBundle_Monsters] FOREIGN KEY([MonsterBundleMonsterID])
REFERENCES [dbo].[Monsters] ([MonsterID])
GO
ALTER TABLE [dbo].[MonsterBundle] CHECK CONSTRAINT [FK_MonsterBundle_Monsters]
GO
ALTER TABLE [dbo].[QuestJournal]  WITH CHECK ADD  CONSTRAINT [FK_QuestJournal_Characters] FOREIGN KEY([QuestJournalCharacterID])
REFERENCES [dbo].[Characters] ([CharID])
GO
ALTER TABLE [dbo].[QuestJournal] CHECK CONSTRAINT [FK_QuestJournal_Characters]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [CHK_CharHP] CHECK  (([CharHP]>=(0)))
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [CHK_CharHP]
GO
/****** Object:  StoredProcedure [dbo].[spAddWeightToChar]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddWeightToChar]
	@charID INT,
	@weightToAdd INT
AS
BEGIN
	DECLARE @charCurrentWeight INT
	SET @charCurrentWeight = (SELECT CharWeight FROM Characters WHERE(CharID = @charID))
	SET @charCurrentWeight = @charCurrentWeight + @weightToAdd

	UPDATE Characters SET CharWeight = @charCurrentWeight WHERE(CharID = @charID)
END
GO
/****** Object:  StoredProcedure [dbo].[spBuyItems]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBuyItems] @charID INT, @equipValue INT OUTPUT, @equipName NVARCHAR(50) OUTPUT
AS
BEGIN
	DECLARE @equipID INT
	DECLARE @equipType INT
	DECLARE @canBuy INT
	DECLARE @equipTypeName NVARCHAR(50)
	SET @equipID = (SELECT TOP 1 EquipID FROM Equipements ORDER BY NEWID())
	
	SET @canBuy = (SELECT dbo.fnCheckIfPlayerCanBuy(@charID, @equipID))
	
	IF @canBuy = 1
	BEGIN
		DECLARE @charEquipID INT
		SET @charEquipID = (SELECT CharEquipID FROM CharEquip WHERE(CharEquipCharacterID = @charID AND CharEquipEquipID = @equipID))
		SET @equipName = (SELECT EquipName FROM Equipements WHERE(EquipID = @equipID))
		SET @equipValue = (SELECT EquipValue FROM Equipements WHERE(EquipID = @equipID))

		IF @charEquipID IS NULL
		BEGIN
			SET @equipType = (SELECT Equipements.EquipEquipTypeID FROM Equipements WHERE (EquipID = @equipID))
			SET @equipTypeName = (SELECT EquipTypeName FROM Equipements INNER JOIN EquipType ON EquipEquipTypeID = EquipTypeID WHERE (EquipID = @equipID))

			INSERT INTO CharEquip(CharEquipCharacterID, CharEquipEquipID) VALUES (@charID, @equipID)

			IF @equipTypeName = 'Casque'
			BEGIN
				UPDATE Characters SET CharHead = 1 WHERE (@charID = CharID)
			END
			ELSE IF @equipTypeName = 'Gants'
			BEGIN
				UPDATE Characters SET CharGloves = 1 WHERE (@charID = CharID)
			END
			ELSE IF @equipTypeName = 'Bottes'
			BEGIN
				UPDATE Characters SET CharBoots = 1 WHERE (@charID = CharID)
			END
			ELSE IF @equipTypeName = 'Arme'
			BEGIN
				UPDATE Characters SET CharWeap = 1 WHERE (@charID = CharID)
			END
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[spCreateBundle]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateBundle] 
@dunID integer, @monsID integer, @qty integer
AS
INSERT INTO MonsterBundle
VALUES(@monsID, @dunID, @qty)
GO
/****** Object:  StoredProcedure [dbo].[spCreateLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateLoot]
@name nvarchar(50), @value INTEGER
AS
INSERT INTO Loots
VALUES (@name, @value)
GO
/****** Object:  StoredProcedure [dbo].[spCreateMonster]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateMonster]
@level INTEGER, @hp INTEGER, @dmg INTEGER, @name NVARCHAR(50)
AS
INSERT INTO Monsters
VALUES (@name, @level, @hp, @dmg)
GO
/****** Object:  StoredProcedure [dbo].[spCreateQuest]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateQuest]
@name nvarchar(50), @lootID int, @lootQte int
AS
INSERT INTO Quests(QuestName, QuestReward, QuestRewardQty)
VALUES (@name, @lootID, @lootQte)
GO
/****** Object:  StoredProcedure [dbo].[spDeleteBundle]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteBundle]
@id INTEGER
AS
DELETE FROM MonsterBundle
WHERE MonsterBundleID = @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteCharacter]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteCharacter]
@id INTEGER
AS
DELETE FROM Characters WHERE Characters.CharID = @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteDungeon]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteDungeon]
@id INTEGER
AS
DELETE FROM Dungeons
WHERE DungeonID = @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteLoot]
@id INTEGER
AS
DELETE FROM Loots
WHERE Loots.LootID= @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteMonster]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteMonster]
@id INTEGER
AS
DELETE FROM Monsters
WHERE Monsters.MonsterID = @id
GO
/****** Object:  StoredProcedure [dbo].[spDeleteQuest]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDeleteQuest]
@id INTEGER
AS
DELETE FROM Quests
WHERE QuestID = @id
GO
/****** Object:  StoredProcedure [dbo].[spGenerateRandomQuestID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGenerateRandomQuestID] 
@CharID INT,
@questID INT OUTPUT
AS
BEGIN
	SET @questID = (SELECT TOP 1 QuestID FROM Quests WHERE (QuestID NOT IN (SELECT QuestID FROM Quests INNER JOIN QuestJournal ON QuestJournalQuestID = QuestID WHERE (QuestJournalCharacterID = 1 AND QuestJournalCompletion = 1))) ORDER BY NEWID())
END
GO
/****** Object:  StoredProcedure [dbo].[spGetDroppedLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetDroppedLoot] @charID INT
AS
BEGIN
	DECLARE @lootID INT
	DECLARE @charlootID INT
	DECLARE @lootWeight INT
	SET @lootID = (SELECT TOP 1 LootID FROM Loots ORDER BY NEWID())
	SET @lootWeight = (SELECT TOP 1 LootWeight FROM Loots WHERE (LootID = @lootID))
	SET @charlootID = (SELECT CharLootID FROM CharLoot WHERE (CharLootCharacterID = @charID AND CharLootLootID = @lootID))
	IF @charlootID IS NULL
	BEGIN
		INSERT INTO CharLoot(CharLootLootID,CharLootCharacterID,CharLootQty) VALUES (@lootID, @charID, 1)
	END
	ELSE
	BEGIN
		DECLARE @charLootQty INT
		SET @charLootQty = (SELECT CharLootQty FROM CharLoot WHERE(@charlootID = CharLootID))
		SET @charLootQty = @charLootQty + 1
		UPDATE CharLoot SET CharLootLootID = @lootID, CharLootCharacterID = @CharID ,CharLootQty = @charLootQty WHERE(CharLootID = @charlootID)
	END
	EXECUTE dbo.spAddWeightToChar @charID, @lootWeight
END
GO
/****** Object:  StoredProcedure [dbo].[spGetMonsterHP]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMonsterHP]
@CharID INT,
@monsterHP INT OUTPUT,
@monsterMaxHP INT OUTPUT
AS
BEGIN
	DECLARE @fightID INT
	EXECUTE dbo.spGetNextMonster @CharID, @fightID = @fightID OUTPUT
	SET @monsterHP = (SELECT TOP 1 FightMonsterHP FROM Fights WHERE (FightID = @fightID))
	SET @monsterMaxHP = (SELECT TOP 1 FightMonsterMaxHP FROM Fights WHERE (FightID = @fightID))
END
GO
/****** Object:  StoredProcedure [dbo].[spGetNextMonster]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNextMonster]
@charID INT,
@fightID INT OUTPUT
AS
BEGIN
	SET @fightID = (SELECT TOP 1 FightID FROM Fights WHERE (FightMonsterHP < FightMonsterMaxHP))

	IF @fightID = NULL
	BEGIN
		SET @fightID = (SELECT TOP 1 FightID FROM Fights ORDER BY NEWID())
	END

	RETURN @fightID
END
GO
/****** Object:  StoredProcedure [dbo].[spHealChar]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spHealChar] @charID INT
AS
UPDATE Characters SET CharHP = CharMaxHP WHERE CharID = @charID
GO
/****** Object:  StoredProcedure [dbo].[spHitMonster]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spHitMonster]
@fightID integer, @charID integer
AS
BEGIN
	DECLARE @monsterCurrentHP INT
	DECLARE @charDamage INT

	SET @monsterCurrentHP = (SELECT FightMonsterHP FROM Fights WHERE(FightID = @fightID))
	SET @charDamage = (SELECT CharStr FROM Characters WHERE (CharID = @charID))

	IF ((@monsterCurrentHP - @charDamage) < 0)
	BEGIN
		SET @monsterCurrentHP = 0
	END
	ELSE
	BEGIN
		SET @monsterCurrentHP = (@monsterCurrentHP - @charDamage)
	END

	UPDATE Fights SET FightMonsterHP = @monsterCurrentHP WHERE FightID = @fightID
END
GO
/****** Object:  StoredProcedure [dbo].[spLoadBundleIntoFight]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLoadBundleIntoFight]
@charID INT,
@dungeonID INT
AS
SELECT MonsterBundleMonsterID AS [MonsterBundleMonsterID], MonsterBundleDungeonID As [MonsterBundleDungeonID], MonsterQty AS [MonsterQty] INTO #Temp FROM MonsterBundle WHERE MonsterBundleDungeonID = @dungeonID

ALTER TABLE #Temp ADD rowID INT IDENTITY(1,1)
BEGIN
	DECLARE @count INT
	DECLARE @row INT
	SET @row = 1
	SET @count = (SELECT COUNT(rowID) FROM #Temp)
	WHILE (@row <= @count)
	BEGIN

		DECLARE @monsterRow INT
		DECLARE @monsterNumber INT
		DECLARE @monsterID INT
		DECLARE @monsterHP INT
		SET @monsterRow = 1
		SET @monsterNumber = (SELECT MonsterQty FROM #Temp WHERE rowID = @row)
		SET @monsterID = (SELECT MonsterBundleMonsterID FROM #Temp WHERE rowID = @row)
		SET @monsterHP = (SELECT MonsterHP FROM Monsters INNER JOIN #Temp ON MonsterBundleMonsterID = Monsters.MonsterID WHERE rowID = @row)
		WHILE (@monsterRow <= @monsterNumber)  
			BEGIN 
				INSERT INTO Fights(FightMonsterID, FightMonsterHP, FightMonsterMaxHP, FightCharID) VALUES (@monsterID, @monsterHP, @monsterHP, @charID)
				SET @monsterRow += 1
			END
		SET @row += 1
	
	END
	DROP TABLE #Temp
END
GO
/****** Object:  StoredProcedure [dbo].[spMonsterHit]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMonsterHit] @charID INT, @monsterID INT
AS
BEGIN
	DECLARE @charCurrentHP INT
	DECLARE @monsterDamage INT

	SET @charCurrentHP = (SELECT CharHP FROM Characters WHERE(CharID = @charID))
	SET @monsterDamage = (SELECT MonsterDmg FROM Monsters WHERE (MonsterID = @monsterID))

	IF ((@charCurrentHP - @monsterDamage) < 0)
	BEGIN
		SET @charCurrentHP = 0
	END
	ELSE
	BEGIN
		SET @charCurrentHP = (@charCurrentHP - @monsterDamage)
	END

	UPDATE Characters SET CharHP = @charCurrentHP WHERE CharID = @charID
END
GO
/****** Object:  StoredProcedure [dbo].[spSellLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSellLoot] @charID INT, @lootValue INT OUTPUT, @lootName NVARCHAR(50) OUTPUT
AS
BEGIN
	DECLARE @charLootID INT
	DECLARE @lootID INT

	SET @charLootID = (SELECT TOP 1 CharLootID FROM CharLoot WHERE(@charID = CharLootCharacterID) ORDER BY CharLootQty DESC)
	SET @lootID = (SELECT CharLootLootID FROM CharLoot WHERE(@charLootID = CharLootID))
	SET @lootValue = (SELECT LootValue FROM Loots WHERE(@lootID = LootID))
	SET @lootName = (SELECT LootName FROM Loots WHERE(@lootID = LootID))

	UPDATE Characters SET CharGP = (CharGP + @lootValue) WHERE (@charID = CharID)
END
GO
/****** Object:  StoredProcedure [dbo].[spSetCharStatus]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSetCharStatus]
	@CharID INT,
	@Status NVARCHAR(50)
AS
BEGIN
	UPDATE Characters SET CharStatus = @Status WHERE CharID = @CharID
END
GO
/****** Object:  StoredProcedure [dbo].[spSetCurrentQuestFromID]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSetCurrentQuestFromID]
@questID INT,
@charID INT
AS
BEGIN
	INSERT INTO QuestJournal (QuestJournalQuestID, QuestJournalCharacterID, QuestJournalCompletion) VALUES (@questID, @charID, 0)
END
GO
/****** Object:  StoredProcedure [dbo].[spSetQuestCompletion]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSetQuestCompletion]
	@CharID INT,
	@QuestID INT,
	@Status BIT
AS
BEGIN
	UPDATE QuestJournal SET QuestJournalCompletion = @Status WHERE (QuestJournalCharacterID = @CharID AND QuestJournalQuestID = @QuestID)
END
GO
/****** Object:  StoredProcedure [dbo].[spSpin]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSpin]
	@CharID INT,
	@actionString NVARCHAR(2048) OUTPUT,
	@changed INT OUTPUT
AS
BEGIN

	--Getting character status
	DECLARE @charStatus NVARCHAR(50)
	SET @charStatus = (SELECT CharStatus FROM Characters WHERE CharID = @CharID)

	IF (@charStatus = 'Village')
	BEGIN
		--Get character Weight
		DECLARE @charWeight INT
		SET @charWeight = (SELECT dbo.fnGetCharWeight(@CharID))
		
		--Get character GoldPieces
		DECLARE @charGold INT
		SET @charGold = (SELECT dbo.fnGetCharGoldPiece(@CharID))

		DECLARE @currentQuestID INT
		SELECT @currentQuestID = dbo.fnGetCurrentQuest(@CharID)

		--If Character has something in his inventory --TODO CHECK FOR WEIGHT -> MINUS EQUIPEMENT WEIGHT
		IF (@charWeight > 0 AND @charGold > 0)
		BEGIN
			EXEC dbo.spSetCharStatus @CharID, 'Acheter'
			SET @actionString = 'j''achetes dequoi..'
			SET @changed = 5
		END
		ELSE IF(@charWeight > 0)
		BEGIN
			EXEC dbo.spSetCharStatus @CharID, 'Vendre'
			SET @actionString = 'je vends dequoi..'
			SET @changed = 5
		END
		ELSE IF(@currentQuestID IS NOT NULL)
		BEGIN
			SET @actionString = 'Je continue ma quete'
		END
		BEGIN
		EXEC dbo.spSetCharStatus @CharID, 'BesoinQuete'
			SET @actionString = 'Vous etes a la recherche d''une quete.'
			SET @changed = 0
		END
	END

	ELSE IF (@charStatus = 'BesoinQuete')
	BEGIN
		--Generating random quest ID
		DECLARE @questID INT; 
		EXECUTE dbo.spGenerateRandomQuestID @CharID, @questID = @questID OUTPUT

			IF (@questID IS NOT NULL)
				BEGIN
					--Affecting the generated quest to the character
					EXECUTE dbo.spSetCurrentQuestFromID @questID, @charID
					EXEC dbo.spSetCharStatus @CharID, 'Quete'
					SET @actionString = CONCAT('Un habitant du village vous donne ',(SELECT QuestName FROM Quests WHERE QuestID = @questID))
					SET @changed = 0
				END
			ELSE
			BEGIN
				EXEC dbo.spSetCharStatus @CharID, 'Finis'
				SET @actionString = 'Jeu fini plus de quete disponible'
				SET @changed = 0
			END
	END

	ELSE IF (@charStatus = 'Quete')
	BEGIN
		DECLARE @fightID INT
		DECLARE @numbersOfFights INT
		DECLARE @currentDungeonID INT
		DECLARE @currentQuestName NVARCHAR(50)

		SELECT @currentQuestID = dbo.fnGetCurrentQuest(@CharID)

		SET @currentQuestID = (SELECT dbo.fnGetCurrentQuest(@CharID))
		SET @currentDungeonID = (SELECT Dungeons.DungeonID FROM Dungeons INNER JOIN Quests ON DungeonQuestID = QuestID WHERE(QuestID = @currentQuestID))


		SET @numbersOfFights = (SELECT COUNT(*) FROM Fights WHERE (FightCharID = @CharID));
		IF(@numbersOfFights = 0)
		BEGIN
			EXECUTE dbo.spLoadBundleIntoFight @CharID, @currentDungeonID
		END
		EXECUTE dbo.spGetNextMonster 1, @fightID = @fightID OUTPUT

		EXEC dbo.spSetCharStatus @CharID, 'CoupMonstre'
		SET @actionString = 'Vous marchez vers le Donjon'
		SET @changed = 5
	END
	
	ELSE IF (@charStatus = 'CoupMonstre')
	BEGIN
		DECLARE @questCompleted BIT

		EXECUTE dbo.spGetNextMonster 1, @fightID = @fightID OUTPUT
		IF (@fightID IS NOT NULL)
		BEGIN
			DECLARE @monsterID INT
			DECLARE @monsterDmg INT
			DECLARE @monsterName NVARCHAR(50)

			SET @monsterID = (SELECT MonsterID FROM Fights INNER JOIN Monsters ON MonsterID = FightMonsterID WHERE (FightID = @fightID))
			SET @monsterName = (SELECT MonsterName FROM Fights INNER JOIN Monsters ON MonsterID = FightMonsterID WHERE (FightID = @fightID))
			SET @monsterDmg = (SELECT MonsterDmg FROM Fights INNER JOIN Monsters ON MonsterID = FightMonsterID WHERE (FightID = @fightID))

			EXEC dbo.spMonsterHit @CharID, @monsterID

			DECLARE @charCurrentHP INT
			DECLARE @charMaxHP INT
			SET @charCurrentHP = dbo.fnGetCharHP(@CharID)
			SET @charMaxHP = dbo.fnGetCharMaxHP(@CharID)

			IF(@charCurrentHP = 0)
			BEGIN
				EXEC dbo.spSetCharStatus @CharID, 'Mort'
				SET @actionString = 'Vous etes mort'
			END

			EXEC dbo.spSetCharStatus @CharID, 'Coup'
			SET @actionString = CONCAT('Le ', @monsterName, 'vous attaque et vous perdez ', @monsterDmg, 'point de vie')
			SET @changed = 2
		END
		ELSE
		BEGIN
			SET @currentQuestID = (SELECT dbo.fnGetCurrentQuest(@CharID))
			SET @questCompleted = (SELECT dbo.fnCheckForQuestCompleted(@CharID))
			EXEC dbo.spSetQuestCompletion @CharID, @currentQuestID, @questCompleted
			EXEC dbo.spSetCharStatus @CharID, 'Village'
			SET @actionString = 'Quete complete retour au village'
			SET @changed = 0
		END
	END
		
	ELSE IF (@charStatus = 'Coup')
	BEGIN
		DECLARE @charDmg INT
		SET @charDmg = (SELECT CharStr FROM Characters WHERE (CharID = @CharID))

		--Getting the current hp of the monster that we are fighting
		EXECUTE dbo.spGetNextMonster 1, @fightID = @fightID OUTPUT

		SET @monsterID = (SELECT MonsterID FROM Fights INNER JOIN Monsters ON MonsterID = FightMonsterID WHERE (FightID = @fightID))
		SET @monsterName = (SELECT MonsterName FROM Fights INNER JOIN Monsters ON MonsterID = FightMonsterID WHERE (FightID = @fightID))
		

		IF (@fightID IS NOT NULL)
		BEGIN
			EXECUTE dbo.spHitMonster @fightID, @CharID

			--Hit the monster
			DECLARE @monsterCurrentHP INT
			SET @monsterCurrentHP = dbo.fnGetCurrentMonsterHPFromID(@fightID)
			
			--If we killed the monster
			IF (@monsterCurrentHP = 0)
			BEGIN
				--adding the dropped loot
				EXECUTE dbo.spGetDroppedLoot @CharID

				--Remove the monster from the Fights table
				DELETE FROM Fights WHERE FightID = @fightID
				--Check if the current quest is completed
				SET @questCompleted = dbo.fnCheckForQuestCompleted(@CharID)
				--If the quest is completed
				IF(@questCompleted = 0)
				BEGIN
					--Getting HP Values for the character
					
					SET @charCurrentHP = dbo.fnGetCharHP(@CharID)
					SET @charMaxHP = dbo.fnGetCharMaxHP(@CharID)

					--If the character healt is not full
					IF (@charCurrentHP < @charMaxHP)
					BEGIN
						EXEC dbo.spSetCharStatus @CharID, 'Recuperation'
						SET @actionString = CONCAT('Vous avez vaincu le', @monsterName,' Vous récupérez vos points de vie')
						SET @changed = 4
					END
					--If the character healt is full
					ELSE
					BEGIN
						EXEC dbo.spSetCharStatus @CharID, 'CoupMonstre'
						SET @actionString = CONCAT('Félicitation vous avez tué le ', @monsterName, ' vous continuez à explorer le donjon')
						SET @changed = 4
					END
				END

				--If the quest is completed
				ELSE
				BEGIN
					SET @currentQuestID = (SELECT dbo.fnGetCurrentQuest(@CharID))
					SET @questCompleted = (SELECT dbo.fnCheckForQuestCompleted(@CharID))
					EXEC dbo.spSetQuestCompletion @CharID, @currentQuestID, @questCompleted
					EXEC dbo.spSetCharStatus @CharID, 'Village'
					SET @actionString = 'Vous avez libéré le donjon! Félicitation! Vous retournez au village'
					SET @changed = 0
				END
			END
			--If we did not kill the monster
			ELSE
			BEGIN
				EXEC dbo.spSetCharStatus @CharID, 'CoupMonstre'
				SET @actionString = CONCAT('Vous frapper le ', @monsterName, ' et lui infligé ', @charDmg, ' dégats')
				SET @changed = 3
			END
		END
		ELSE
		BEGIN
			SET @currentQuestID = (SELECT dbo.fnGetCurrentQuest(@CharID))
			SET @questCompleted = (SELECT dbo.fnCheckForQuestCompleted(@CharID))
			EXEC dbo.spSetQuestCompletion @CharID, @currentQuestID, @questCompleted
			EXEC dbo.spSetCharStatus @CharID, 'Village'
			SET @actionString = 'Vous avez libéré le donjon!Vous retournez au village'
			SET @changed = 0
		END
	END

	ELSE IF (@charStatus = 'Acheter')
	BEGIN
		DECLARE @equipValue INT
		DECLARE @equipName NVARCHAR(50)
		EXEC dbo.spBuyItems @CharID, @equipValue = @equipValue OUTPUT, @equipName = @equipName OUTPUT
		EXEC dbo.spSetCharStatus @CharID, 'Village'
		SET @actionString = CONCAT('Vous achetez ', @equipName, ' pour ', @equipValue, ' pièces d''or, du marchand.')
		SET @changed = 1
	END
	
	ELSE IF (@charStatus = 'Vendre')
	BEGIN
		DECLARE @lootValue INT
		DECLARE @lootName NVARCHAR(50)
		EXEC dbo.spSellLoot @CharID, @lootValue = @lootValue OUTPUT, @lootName = @lootName OUTPUT
		EXEC dbo.spSetCharStatus @CharID, 'Village'
		SET @actionString = CONCAT('Vous vendez ', @equipName, ' pour ', @equipValue, ' pièces d''or, au marchand.')
		SET @changed = 1
	END

	ELSE IF (@charStatus = 'Recuperation')
	BEGIN
		EXEC dbo.spHealChar @CharID
		EXEC dbo.spSetCharStatus @CharID, 'CoupMonstre'
		SET @actionString = 'Vous avez récupéré tous vos points de vie. Vous continuez à explorer le Donjon'
		SET @changed = 2
	END

	ELSE IF (@charStatus = 'Finis')
	BEGIN
		EXEC dbo.spSetCharStatus @CharID, 'Finis'
		SET @actionString = 'Finis'
		SET @changed = 5
	END
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateCharacter]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateCharacter]
@id integer ,@name nvarchar(50), @class nvarchar(50), @race nvarchar(50), @level integer, @gold integer, @hp integer, 
@hpMax integer, @hpRegen integer, @mana integer, @maxMana integer, @manaRegen integer, @str integer, @cons integer, 
@dex integer, @int integer, @luck integer, @wisdom integer
AS
UPDATE Characters
SET CharName = @name, CharClassID = @class, CharRaceID = @race, CharLevel = @level, CharGP = @gold, CharHP = @hp, CharMaxHP = @hpMax,
 CharStr = @str, CharCon = @cons,
CharDex = @dex
WHERE Characters.CharID = @id
GO
/****** Object:  StoredProcedure [dbo].[spUpdateDungeon]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateDungeon]
(@id integer, @name NVARCHAR(50), @lvl INTEGER )
AS
UPDATE Dungeons
SET DungeonName = @name, DungeonLevel = @lvl
WHERE DungeonID = @id
GO
/****** Object:  StoredProcedure [dbo].[spUpdateLoot]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spUpdateLoot]
@id integer, @name nvarchar(50), @value integer
AS
UPDATE Loots
SET LootName = @name, LootValue = @value
WHERE Loots.LootID = @id
GO
/****** Object:  StoredProcedure [dbo].[spUpdateMonster]    Script Date: 2019-12-06 20:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateMonster]
(@id INTEGER, @lvl INTEGER, @hp INTEGER, @dmg INTEGER, @name NVARCHAR(50))
AS
UPDATE Monsters
SET MonsterDmg = @dmg, MonsterHP = @hp, MonsterLevel = @lvl, MonsterName = @name
WHERE MonsterID = @id
GO
USE [master]
GO
