SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION fnGetCurrentMonsterHPFromID(@fightID INT)
RETURNS INT
AS
BEGIN
	DECLARE @currentHP INT
	SET @currentHP = (SELECT FightMonsterHP FROM Fights WHERE (FightID = @fightID))
	RETURN @currentHP
END
